<!doctype html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="name" content="Matt Campagnola">

    <title>Please Sign In</title>

    <meta name="description" content="My Parse App">
    <meta name="viewport" content="width=device-width">

</head>

<body>
    <div class="logo-div">
        <h1 id="logo" style="font-size: 18px;">You Must Be Signed In To Access This Page</h1>
        <br>
    </div>
    <br>
    <div class="container" style="width:10em" >
        <a href="/"><button class="btn btn-lg btn-primary btn-block" >Sign In</button></a>
    </div>

<!-- Bootstrap -->
<link href="bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet">
<!-- CSS Stylesheet -->
<link href="css/index.css" rel="stylesheet">

    <!-- EJS (Embedded JS)-->
    <script type="text/javascript" src="javascript/ejs_production.js"></script>

    <!-- Parse.js -->
    <script type="text/javascript" src="//www.parsecdn.com/js/parse-1.5.0.min.js"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Bootstrap JS (MUST come AFTER jQuery line above) -->
    <script src="bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
</body>

</html>
